.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 48px;
    padding: 0;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #000;
    text-align: center;
  
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }

    &.google-sign-in {
      background-color: #4285f4;
      color: #fff;
      border-color: #4285f4;

      &:hover {
        background-color: #357ae8;
        border-color: #357ae8;
      }
    }

    &.atb {
      background-color: white;
      color: black;

      &:hover {
        background-color: black;
        color: white;
      }
    }

    &.inverted {
      background-color: white;
      color: black;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
  