.collection-item {
    width: 48%;
    display: flex;
    flex-direction: column;
    height: 250px;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;

    &:hover {
      .custom-button {
        opacity: 0.85;
        display: inline-block;
      }
    }

    .pdp-link {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      text-decoration: none;
      color: #fff;
    }
  
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
      box-shadow: 0 0 5px #000;
    }

    .custom-button {
      width: 80%;
      opacity: 0.7;
      position: absolute;
      top: 65%;
      display: none;
    }
  
    .collection-footer {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      flex-direction: column;
  
      .name {
        width: 100%;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
        overflow: hidden;
      }
  
      .price {
        width: 100%;
        font-size: 14px;
      }
    }
  }
  
@media only screen and (min-width: 768px){
    .collection-item {
        width: 22vw;
        height: 350px;
    }
}

@media screen and (max-width: 680px) {
  .collection-item .custom-button {
    display: inline-block;
    top: 63%;
    height: 40px;
    line-height: 38px;
  }
}