.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;

      .logo {
        height: 100px;
      }
    }
  
    .options {
      width: 70%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        font-family: "Open Sans Condensed";
        font-size: 22px;
        font-weight: 600;
        cursor: pointer;
        display: inline;
      }
    }

    .greeting {
      display: inline;
      padding: 10px 0 10px 15px;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      font-family: "Open Sans Condensed";
      font-size: 22px;
      font-weight: 600;

      &::after {
        content: "|";
        padding-left: 15px;
      }

      .displayname {
        margin-left: 3px;
      }
    }
  }
  

  @media screen and (max-width: 680px) {
    .header .options {
      width: 100%;
    }

    .header .logo-container {
      padding: 10px 0;
      width: 50px;
    }

    .header .logo-container .logo {
      height: 50px;
    }
  }